.theme-wrapper{

    &--dark{
        --bg-1 : #303030;
        --bg-2 : #5E5E5E;
        --bg-3 : #7C7C7C;

        --text-primary : #F1F1F1;
        --text-secondary : #CECECE;

        --highlight-primary: #FFC300;
    }

    &--light{
        --bg-1 : #FFFFFF;
        --bg-2 : #DCDCDC;
        --bg-3 : #C8C8C8;

        --text-primary : #000000;
        --text-secondary : #464646;

        --highlight-primary: #FFC300;
    }
}